<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.wayne.CovidTracker"
    version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CovidTracker</name>
    <description>
        A mobile app for tracking live data for the Covid-19 pandemic.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        CSC 4111 Group One
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.SEND_SMS" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>

        <allow-intent href="market:*" />
    </platform>
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
