* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-size:4vw;
    height:100vh;
    margin:0;
    padding:0;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0) env(safe-area-inset-bottom, 0) env(safe-area-inset-left, 0);
    width:100%;
    height: 100%;
    font-family: "Roboto","Helvetica","Arial",sans-serif;

}


/* hide app while vue is still compiling */
[v-cloak] {
    visibility: hidden !important;
}

.vue-app-content {
    display: none;
}

.vue-app-content.active {
    display: block;
}

.app {
    width: 100%;
    height: 100%;
    
    background: rgb(250, 250, 250);
}

.mdl-layout__header, .mdl-layout__drawer, .mdl-layout__obfuscator {
    position: fixed;
    top: 0;
    left: 0;
}

.mdl-layout__title {
    font-weight: 300;
}

.mdl-layout__content {
    width: 100%;
    overflow: visible;

    padding-top: 12vw;

    color: rgb(117, 117, 117);
}

.county {
    padding-top: 8vw;
    text-align: center;
}

.county__name {
    display: inline-block;
    overflow: visible;

    font-size: 5.4vw;
    font-weight: 300;
}

.county__name__state {
    font-size: 2.4vw;
    font-weight: 400;
}

.county__underline {
    margin-top: 2vw;

    width: 100%;
    height: 1px;
    background: rgb(117, 117, 117);
}

.county__status {
    position: relative;
    top: 8vw;

    color: white;
}

.county__status.red {
    background: rgb(233, 30, 99);
}
.county__status.orange {
    background: rgb(255, 87, 34);
}
.county__status.yellow {
    background: rgb(255, 160, 0);
}
.county__status.green {
    background: rgb(56, 142, 60);
}

.stats {
    padding: 12vw;
}

.stat__name {
    display: inline-block;
    overflow: visible;

    margin: 5vw;

    font-size: 4.8vw;
    font-weight: 300;

}

.stat__name__small {
    font-size: 2.4vw;
    font-weight: 4004
}

.stat__underline {
    margin-top: 3.8vw;

    width: 25vw;
    height: 1px;
    background: rgb(117, 117, 117);
}

.stat__value {
    display: inline-block;
    margin-top: 3.8vw;

    font-weight: 500;
}

#map {
    height: 80vw;
    background: #333;
}

#vue-app-content-location-search {
    padding: 10vw;
}

.location-search-form {
    position: relative;
    text-align: center;
}

.location-search-form .mdl-textfield__label {
    overflow: visible;
}

.location-search-form__icon {
    position: absolute;
    left: -5vw;
    font-size: 4.5vw;
}

.contacts-list {
    margin: 15vw auto;
}

.contacts-list td {
    opacity: 0.6;
}

.contacts-list .mdl-data-table__cell--non-numeric {
    opacity: 1;
}

.contact-list-new-button {
    position: fixed;

    bottom: 8vw;
    right: 8vw;
}

#vue-app-content-new-contact {
    padding: 14vw 0;
}

.new-contact-form {
    text-align: center;
}

.form-button-container {
    margin-top: 10vw;

    text-align: center;
}

.new-contact-form__button {
    display: inline-block;
}

.new-contact-form__delete-button {
    display: inline-block;

    margin-right: 4vw;
}
