<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <meta name="color-scheme" content="light dark">

        <link rel="stylesheet" href="css/material.blue_grey-indigo.min.css">
        <link rel="stylesheet" href="css/fonts.css">
        <link rel="stylesheet" href="css/index.css">
        <title>CovidTracker</title>
    </head>
    <body>
        <div v-cloak id="app" class="app mdl-layout--fixed-header mdl-js-layout">
            <header class="mdl-layout__header">
                <div class="mdl-layout-icon"></div>
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout__title">{{ title }}</span>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout__title"></span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="#" v-on:click="navigate('home', $event)">Home</a>
                    <a class="mdl-navigation__link" href="#" v-on:click="navigate('location-search', $event)">Location Search</a>
                    <a class="mdl-navigation__link" href="#" v-on:click="navigate('contacts', $event)">Contacts</a>
                </nav>
            </div>
            <main class="mdl-layout__content">
                <div id="vue-app-content-home" class="vue-app-content" v-if="userCounty" v-bind:class="{ active: activePage === 'home' }">
                    <div class="county">
                        <span class="county__name">{{ userCounty.name }}, <span class="county__name__state">{{ userCounty.stateCode }}</span>
                            <br>
                            <div class="county__underline"></div>
                        </span>
                        <br>
                        <span v-bind:class="warningColor" class="county__status mdl-chip">
                            <span v-html="warningText()" class="mdl-chip__text"></span>
                        </span>
                    </div>
                    <div class="stats">
                        <span class="stat__name">Daily Cases
                            <br>
                            <div class="stat__underline"></div>
                            <span class="stat__value">{{ commaNumber(userCounty.dailyCases) }}</span>
                        </span>
                        <span class="stat__name">Deaths
                            <br>
                            <div class="stat__underline"></div>
                            <span class="stat__value">{{ commaNumber(userCounty.deaths) }}</span>
                        </span>
                        <span class="stat__name">Total Cases
                            <br>
                            <div class="stat__underline"></div>
                            <span class="stat__value">{{ commaNumber(userCounty.cases) }}</span>
                        </span>
                        <span class="stat__name">Population
                            <br>
                            <div class="stat__underline"></div>
                            <span class="stat__value">{{ commaNumber(userCounty.population) }}</span>
                        </span>
                    </div>
                    <div id="map"></div>
                </div>
                
                <div id="vue-app-content-location-search" class="vue-app-content" v-bind:class="{ active: activePage === 'location-search' }">

                    <form class="location-search-form" action="#">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input v-on:input="locationSearchInput" class="mdl-textfield__input" type="text" id="location-search-form__county-name">
                            <label class="mdl-textfield__label" for="location-search-form__county-name"><span class="location-search-form__icon material-icons-outlined">search</span> County name...</label>
                        </div>
                    </form>

                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                        <tbody>
                            <tr v-for="(county, index) in locationSearchCounties" v-on:click="loadStats">
                                <td class="mdl-data-table__cell--non-numeric search-result-name">{{ county.name }}</td>
                                <td>{{ county.stateCode }}</td>
                                <td class="search-result-fips" style="display: none;">{{ county.fipsCode }}</td>
                            </tr>
                        </tbody>
                    </table>
                      
                </div>

                <div id="vue-app-content-new-contact" class="vue-app-content" v-bind:class="{ active: activePage === 'new-contact' }">

                    <form class="new-contact-form" action="#" v-on:submit.prevent="submitContact">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="sample1" v-model="contactFormName">
                            <label class="mdl-textfield__label" for="sample1">Name</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" pattern="[\-0-9]*" id="sample2" v-model="contactFormPhone">
                            <label class="mdl-textfield__label" for="sample2">Phone Number</label>
                            <span class="mdl-textfield__error">Enter a valid phone number</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="sample3" v-model="contactFormDate">
                            <label class="mdl-textfield__label" for="sample3">Date</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="sample4" v-model="contactFormTime">
                            <label class="mdl-textfield__label" for="sample4">Time</label>
                        </div>
                        <br>
                        <div class="form-button-container">
                            <button v-on:click.prevent="deleteContact" v-if="editContactIndex !== -1" class="new-contact-form__delete-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                Delete
                            </button>
                            <button class="new-contact-form__button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                {{ editContactIndex === -1 ? "Submit" : "Update" }}
                            </button>
                        </div>

                    </form>


                </div>
                
                <div id="vue-app-content-contacts" class="vue-app-content" v-bind:class="{ active: activePage === 'contacts' }">

                    <h6 style="text-align: center; margin-top: 10vw;" v-if="contacts.length === 0">No contacts to display.</h6>

                    <table v-if="contacts.length"  class="mdl-data-table--selectable contacts-list mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                        <thead>
                            <tr>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th>Date</th>
                            <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(contact, index) in contacts" v-on:click.prevent="editContact(index)">
                                <td class="mdl-data-table__cell--non-numeric">{{ contact.name }}</td>
                                <td>{{ contact.date }}</td>
                                <td>{{ contact.time }}</td>
                            </tr>
                        </tbody>
                    </table>                      

                    <button v-on:click.prevent="newContact()" class="contact-list-new-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                        <i class="material-icons">add</i>
                    </button>

                </div>

                <div id="vue-app-content-settings" class="vue-app-content" v-bind:class="{ active: activePage === 'settings' }">Settings</div>
            </main>
        </div>
        <script src="cordova.js"></script>
        <script src="js/material.min.js"></script>
        <script src="js/vue.js"></script>
        <script src="js/index.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb6C9VWYpxSTrG3y82lnhsdFCovwwFyDE"></script>
    </body>
</html>
